/* Основные стили страницы */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Предотвращает появление горизонтальной прокрутки */
}

/* Шапка сайта */
header {
  position: fixed; /* Уже задано, удерживает header на одном месте при прокрутке */
    top: 0; /* Желательно добавить, чтобы явно прижать header к верхнему краю страницы */
    width: 100%; /* Удерживает header на полной ширине */
    background-color: #000000; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 10px 0; /* Внутренний отступ */
    z-index: 1000; /* Высокое значение для наложения поверх других элементов */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a, nav button {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
.important-label {
  position: relative; /* Относительное позиционирование для псевдоэлемента */
  background: linear-gradient(to right, #FFA500, #FF8C00); /* Градиент для фона */
  color: white; /* Цвет текста */
  font-family: 'Arial', sans-serif; /* Шрифт */
  padding: 10px 20px; /* Внутренний отступ */
  padding-right: 30px; /* Больший отступ справа */
  font-size: 18px; /* Размер шрифта */
  font-weight: bold; /* Жирность шрифта */
  display: inline-block; /* Элемент строчный, но позволяет задавать ширину и высоту */
  border-top-right-radius: 20px; /* Скругление верхнего правого угла */
  border-bottom-right-radius: 20px; /* Скругление нижнего правого угла */
 /*  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */ /* Тень для объемности */
}

.important-label::before {
  content: ''; /* Псевдоэлементы требуют свойства content */
  position: absolute; /* Абсолютное позиционирование относительно родителя */
  left: -90px; /* Смещение влево */
  top: 0; /* Смещение сверху */
  width: 20px; /* Ширина "хвоста" */
  height: 100%; /* Высота равна высоте основного элемента */
  background: #FFA500; /* Цвет фона "хвоста", чтобы совпадал с начальным цветом градиента */
  padding-left: 40px; /* Увеличенный паддинг слева */
  padding-right: 40px; /* Увеличенный паддинг справа */
  
}

.important-block {
  background-color: #f2f2f2; /* Серый фон для блока */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для блока */
  width: 100vw; /* Ширина блока равна 100% от ширины вьюпорта */
  margin-left: calc(-50vw + 50%); /* Центрирование блока */
  padding: 35px; /* Внутренние отступы для блока */
  box-sizing: border-box; /* Включение паддинга в общую ширину блока */
  position: relative; /* Для корректного позиционирования */
  left: 52%; /* Для корректного позиционирования */
  right: 50%; /* Для корректного позиционирования */
  transform: translateX(-50%); /* Для корректного позиционирования */
  line-height: 1.5; /* Высота строки */
  color: #333; /* Цвет текста */
  font-family: 'Montserrat', italic;
  font-weight: 350; /* Используйте значение веса шрифта, которое вы выбрали */
}
nav button {
  background-color: #f90;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px 15px 15px 0;
}

/* Основной контент */
main {
  padding: 30px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', italic;
  font-weight: 900; /* Используйте значение веса шрифта, которое вы выбрали */
}

.button-item {
  flex-basis: calc(33.333% - 10px);
  margin: 5px;
}

.search-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  
  width: 350px;  /* Ширина кнопки */
  height: 55px;  /* Высота кнопки */
}

.search-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.route, .price {
  color: #333;
  margin-bottom: 8px;
}

 h2 {
  color: #333;
  flex-basis: 50%;
  left: 10px;
}
h1 {
  color: #ffffff;
  position: relative; /* Если необходимо, чтобы следующие элементы располагались после фона */
  top: 50px;
  left: 50px; /* Смещаем на 50% ширины влево */
  right: 50px; /* Смещаем на 50% ширины вправо */
}

/* Стили текстовых полей и кнопок */

@media screen and (max-width :765px){
  

  input[type="text"], button[type="submit"] {
    width: 100%;
    padding: 15px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  
 }
}
@media screen and (min-width :766px){
  

  input[type="text"], button[type="submit"] {
    width: 100%;
    padding: 15px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
  
}
}
input[type="text"], button[type="submit"] {
  width: 100%;
  padding: 15px;
  margin: 0px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*стили для поисковой строки*/



button[type="submit"] {
  background-color: #f90;
  color: white;
  border: none;
  cursor: pointer;
}

/* Подвал сайта */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family:'Montserrat', italic;
  font-weight: 200; /* Используйте значение веса шрифта, которое вы выбрали */
}

/* Стилизация скроллбара */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff8c00;
  border-radius: 15px;
}

.section-background {
  background: url('/image/photo_2024-04-14_23-33-25.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw; /* Ширина на весь видимый экран */
    min-height: 400px; /* Минимальная высота, чтобы покрыть весь видимый экран по высоте */
    position: relative; /* Если необходимо, чтобы следующие элементы располагались после фона */
    left: 50%; /* Смещаем на 50% ширины влево */
    right: 50%; /* Смещаем на 50% ширины вправо */
    transform: translateX(-50%); /* Сдвигаем обратно на 50% влево, чтобы центрировать */
}

@media screen and (min-width: 769px) {
  .search-bar-container {
      max-width: 1000px; /* Максимальная ширина контейнера */
      margin: 0 auto; /* Автоматический отступ справа и слева для центрирования */
      background-color: #fff; /* Белый фоновый цвет */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для создания эффекта возвышения */
      border-radius: 15px; /* Закругленные углы */
      overflow: hidden; /* Скрывает любое содержимое, выходящее за пределы границ */
      display: flex; /* Включает flexbox для дочерних элементов */
      align-items: center; /* Выравнивание дочерних элементов по центру по вертикали */
      position: relative; /* Если необходимо, чтобы следующие элементы располагались после фона */
    top: 250px;
    left: 20px; /* Смещаем на 50% ширины влево */
    right: 50px; /* Смещаем на 50% ширины вправо */
      
  }

  /* Стили для поля ввода и кнопки внутри .search-bar-container */
  .search-bar-container input[type="text"], .search-bar-container button {
      border: none; /* Отсутствие рамки */
      padding: 10px; /* Внутренний отступ */
      outline: none; /* Отсутствие контура при фокусе */
  }
}

/* Применяется для экранов с максимальной шириной 1000 пикселей */
@media screen and (max-width: 768px) {
  .search-bar-container {
    position: relative; /* Если необходимо, чтобы следующие элементы располагались после фона */
    top: 200px;
    left: 50px; /* Смещаем на 50% ширины влево */
    right: 50px; /* Смещаем на 50% ширины вправо */
      display: flex; /* Включает flexbox */
      flex-direction: column; /* Дочерние элементы располагаются вертикально */
      align-items: flex-start; /* Выравнивание дочерних элементов по началу контейнера */
      /* padding: 100px; */ /* Внутренний отступ со всех сторон */
      width: 100%; /* Ширина контейнера равна 100% от родительского элемента */
  }

  /* Стили для поля ввода и кнопки, когда ширина экрана меньше или равна 1000 пикселей */
  .search-bar-container input[type="text"], .search-bar-container button {
      border: 1px solid #ccc; /* Серая рамка толщиной 1 пиксель */
      padding: 6px; /* Внутренний отступ */
      margin-bottom: 5px; /* Отступ снизу */
      border-radius: 15px; /* Закругленные углы */
      width: 80%; /* Ширина элементов равна 80% от ширины контейнера */
      box-sizing: border-box; /* Размеры элементов включают padding и border */
  }
}
/* Общие стили для слайдера */
.slider-container {
  position: relative;
  width: 70%; /* Задайте ширину по вашему вкусу */
  margin: auto; /* Центрирование слайдера на странице */
  overflow: hidden; /* Скрытие неактивных слайдов */
}

/* Стили для каждого слайда */
.slide {
  display: none; /* Сначала скрыть все слайды */
  width: 100%; /* Ширина каждого слайда должна соответствовать ширине контейнера */
}

/* Стилизация изображений внутри слайдов */
.slide img {
  width: 100%; /* Ширина изображения должна соответствовать ширине слайда */
  display: block; /* Убираем стандартные отступы для изображений */
}

/* Стили для кнопок управления */
.prev, .next {
  cursor: pointer; /* Изменение курсора при наведении */
  position: absolute; /* Позиционирование поверх слайдов */
  top: 50%; /* Выравнивание по вертикали */
  width: auto; /* Автоматическая ширина кнопок */
  padding: 16px; /* Паддинг для кнопок */
  margin-top: -22px; /* Смещение для центрирования кнопок */
  color: white; /* Цвет стрелок */
  font-weight: bold; /* Жирность стрелок */
  font-size: 18px; /* Размер шрифта стрелок */
  transition: 0.6s ease; /* Плавность перехода */
  border-radius: 0 3px 3px 0; /* Скругление углов для левой кнопки */
  user-select: none; /* Запрет выделения текста */
}

/* Стили для кнопки "Следующий" */
.next {
  right: 0; /* Позиционирование с правой стороны */
  border-radius: 3px 0 0 3px; /* Скругление углов для правой кнопки */
}

/* Стили для кнопки "Предыдущий" */
.prev {
  left: 0; /* Позиционирование с левой стороны */
}

/* Эффект при наведении на кнопки управления */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); /* Добавление фона при наведении */
}

/* Отображение первого слайда */
.slide:first-child {
  display: block;
}

/* Класс .container используется для создания контейнера с flex-расположением. Это позволяет нам располагать элементы в строку и управлять их распределением и выравниванием */
.container {
  border-radius: 10px; /* Значение скругления углов для всего слайдера */
  overflow: hidden; /* Это гарантирует, что все внутренние элементы будут следовать скругленным краям контейнера */
  display: flex; /* Элементы внутри контейнера будут расположены горизонтально */
  justify-content: space-between; /* Элементы внутри будут разделены и распределены с равным пространством между ними */
  align-items: flex-start; /* Элементы будут выровнены по верхнему краю контейнера */
}

/* Класс .text-column предназначен для колонки с текстом. Свойство flex позволяет элементу заполнить доступное пространство в контейнере flex */
.text-column {
  flex: 1; /* Элемент растянется на все доступное пространство, которое осталось в контейнере */
  padding-right: 20px; 
  font-family: 'Montserrat', italic;
  font-weight: 350; /* Используйте значение веса шрифта, которое вы выбрали *//* Добавляем отступ справа, чтобы создать пространство между текстом и слайдером */
}

/* Класс .slider-column используется для колонки со слайдером. Здесь мы задаем фиксированную ширину для этого элемента */
.slider-column {
  /* position:relative; */
  top: 23px;
  left: 60px;
  flex-basis: 50%; /* Задает начальную ширину колонки со слайдером, которая не будет изменяться */
  flex-shrink: 0; /* Предотвращает сжатие колонки при уменьшении размера окна браузера */
}
.slide {
  /* ... остальные стили ... */
  border-radius: 10px; /* Скругление углов каждого отдельного слайда */
}

.slide img {
  /* ... остальные стили ... */
  border-radius: 10px; /* Скругление углов изображений */
  display: block; /* Это убирает небольшие отступы вокруг изображений */
}

.section-background {font-family: 'Montserrat', italic;
  font-weight: 350; /* Используйте значение веса шрифта, которое вы выбрали */
}
.concha{font-family: 'Montserrat', italic;
  font-weight: 500; /* Используйте значение веса шрифта, которое вы выбрали */}
.navi {font-family:'Montserrat', italic;
  font-weight: 350; /* Используйте значение веса шрифта, которое вы выбрали */}
